@model ViewUserDto

@{
    string SentenceCase(string ReqdString)
    {
        string StrInSentCase = "";
        for (int j = 0; j < ReqdString.Length; j++)
        {
            if (j == 0)
            {
                StrInSentCase = ReqdString.ToString().Substring(j, 1).ToUpper();
            }
            else
            {
                StrInSentCase = StrInSentCase + ReqdString.ToString().Substring(j, 1).ToLower();
            }
        }
        return StrInSentCase.ToString();
    }
}

<div class="container">
    <div class="row">
        <div class="mt-5 col-8 border-right">
            <h4 class="mb-3">Edit Profile</h4>
            <form class="border rounded p-4 shadow-sm"
                  action="/Admin/UserManagement/EditByUserId/@Model.UserId"
                  method="post">

                <div class="form-group row">
                    <label asp-for="FullName" class="col-sm-2 col-form-label">Full Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="FullName" value="@Model.FullName" required>
                        <span class="text-danger" asp-validation-for="FullName"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" asp-for="Email" value="@Model.Email" required>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="Phone" class="col-sm-2 col-form-label">Phone No.</label>
                    <div class="col-sm-10">
                        <input type="number" minlength="10" required maxlength="12" class="form-control" asp-for="Phone" value="@Model.Phone">
                        <span class="text-danger" asp-validation-for="Phone"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="DepartmentId" class="col-sm-2 col-form-label">Department</label>
                    <div class="col-sm-10">
                        <select asp-for="DepartmentId" class="form-control" id="department">
                            @foreach (Department department in ViewBag.Departments)
                            {
                                @if (department.DepartmentId == Model.DepartmentId)
                                {
                                    <option value="@department.DepartmentId" selected>@department.Name</option>
                                }
                                else
                                {
                                    <option value="@department.DepartmentId">@department.Name</option>
                                }
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="DepartmentId"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-8 ml-1">
                        <input class="form-check-input" type="checkbox" value="@Model.IsActive" asp-for="IsActive" onchange="this.value=this.checked">
                        <label class="form-check-label" asp-for="IsActive">
                            Active User
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark mt-2">Edit User</button>
            </form>
        </div>
        @if (Model.Role == Role.Admin && ViewBag.Permissions != null)
        {
            <div class="col-4 mt-5">
                <h5 class="mb-3">Access Rights</h5>
                <ul class="list-group">
                    @foreach (AccessPermission permission in ViewBag.Permissions)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @SentenceCase(String.Join(' ', permission.Permission.ToString().Split("_")))
                            <form asp-action="RevokeAccess" asp-controller="AccessManagement" asp-area="Admin" asp-route-accessId="@permission.PermissionId" asp-route-userId="@Model.UserId">
                                <button type="submit" class="btn btn-sm btn-danger">Revoke</button>
                            </form>
                        </li>
                    }
                </ul>
                @if (ViewBag.UngrantedPermissions.Count > 1)
                {
                    <form asp-action="GrantAccess" asp-controller="AccessManagement" asp-area="Admin" asp-route-userId="@Model.UserId">
                        <div class="input-group mt-2">
                            <select name="accessPermission" class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                @foreach (Permission ungrantedPermission in ViewBag.UngrantedPermissions)
                                {
                                    <option value="@ungrantedPermission">@SentenceCase(String.Join(' ', ungrantedPermission.ToString().Split("_")))</option>
                                }
                            </select>
                            <div class="input-group-append">
                                <button class="btn btn-dark text-white" type="submit">Add Permission</button>
                            </div>
                        </div>
                    </form>
                } else
                {
                    <div class="alert alert-warning mt-2" role="alert">
                        All permissions are granted.
                    </div>
                }
            </div>
        }
        else
        {
            <div class="col-4 mt-5">
                <h5 class="mb-3">Access Rights</h5>
                <div class="alert alert-warning" role="alert">
                    Access Management is only available for admins.
                </div>
            </div>
        }
    </div>
</div>